body {
    background-color: whitesmoke;
}

.priority-high {
    background-color: darkred !important;
    color: white !important;
}

.priority-medium {
    background-color: darkorange !important;
    color: white !important;
}

.priority-low {
    background-color: darkgreen !important;
    color: white !important;
}

/* .ui.segment {
    background-color: #a3b18a;
}
 */
